.about {   
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  min-height: auto;
  margin:0px 0px; 
  border: 1px solid rgba(255,255,255,0.1)
}

/* container */
.about-container {

  max-width: 850px;
  margin: 0 auto; /* Centers the tab */
  padding: 50px;
  border-radius: 24px;
  
  /* Matches the Project Glass */
  background: rgba(255, 255, 255, 0.03); 
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1); 
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  
  /* Space below the tab to separate from next section */
  margin-bottom: 100px; 



/*
  max-width: 850px;
  width: 100%;
  text-align: center;
  padding: 20px;
  border-radius: 18px;
  margin: 0px 0px;
  padding: 100px;

  /* glass effect to match modern portfolio style 
  background: rgba(49, 54, 55, 0.771);
  backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);*/
}

/* title */
.about-title {
  font-size: 2.4rem;
  color: #ffffff;
  margin-bottom: 14px;
  font-weight: 700;
}

/* underline */
.about-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #6366f1;
  margin: 10px auto 0;
  border-radius: 10px;
}

/* text */
.about-text {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #cbd5e1;
  line-height: 1.7;
}