.project {   
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  min-height: auto;
  width:100%;
  /*border: 1px solid rgba(255,255,255,0.1) */
  border:none;
  
}

/* container */
.project-container {
    max-width: 850px;
    width:95%;
  margin: 0 auto; /* Centers the tab */
  padding: 50px;
  border-radius: 24px;
  text-align: center;
  
  /* Matches the Project Glass */
  background: rgba(255, 255, 255, 0.03); 
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  /*border: 1px solid rgba(255, 255, 255, 0.1); */ 
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  
  /* Space below the tab to separate from next section */
  margin-bottom: 100px; 
  border-top: 1px solid rgba(168, 85, 247, 0.4); /* Subtle violet top edge */


}
/* title */
.project-title {
  font-size: 2.4rem;
  color: #ffffff;
  margin-bottom: 15px;
  font-weight: 700;
}

/* underline */
.project-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #6366f1;
  margin: 10px auto 0;
  border-radius: 10px;
}

/* text */
.project-text {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #cbd5e1;
  line-height: 1.7;
 
}